modules = ["nodejs-20", "web"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 32518198
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd auramind-main && npm install && npm run dev"

[deployment]
run = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5000
externalPort = 80
